/* ESTRUTURA PADRAO PARA INICIAR O DESNVOLVIMENTO DE QUALQUER PAGINA DASH */

.dash_section_pai{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 1343px;
    background-color: aqua;
}

.dash_navbar_pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 256px;
    height: 100%;
    background-color: var(--rosa-4);
    border-right: 1px solid var(--rosa-2);
    padding: 24px 16px 0px 16px;
}
.dash_navbar_filho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20px;
    height: auto;
    gap: 16px;
    /* background-color: blue; */
}
.dash_navbar_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 2px;
}

.dash_section_filho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: calc(100% - 256px);
    height: 100%;
    background-color: var(--rosa-4);
    background-color: yellow;

    padding: 24px;
    gap: 24px;
}

.dash_section_container{
    /* ONDE O CONTEUDO DA PAGINA FICA */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    min-height: 20px;
    gap: 16px;
    background-color: red;
}

