/* PADRÕES PARA BOTÃO */

.btn-rosa {
  display: flex;
  width: auto;
  height:  min-content;
  min-height: 42px;
  max-height: 50px;

  align-items: center;
  justify-content: center;

  padding-left: 24px;
  padding-right: 24px; 
  gap: 10px;

  border-radius: 32px;
  background: var(--rosa-1);
  color: var(--rosa-4);
}

.btn-branco {
  display: flex;
  width: auto;
  height:  min-content;
  min-height: 42px;
  max-height: 50px;

  align-items: center;
  justify-content: center;

  padding-left: 24px;
  padding-right: 24px; 
  gap: 10px;
  
  border-radius: 32px;
  border: 2px solid var(--rosa-1);
  background: var(--rosa-4);
  color: var(--rosa-1);
}

.btn-verde {
  display: flex;
  width: auto;
  height:  min-content;
  min-height: 42px;
  max-height: 50px;

  align-items: center;
  justify-content: center;

  padding-left: 24px;
  padding-right: 24px; 
  gap: 10px;

  border-radius: 32px;
  background: var(--verde);
  color: var(--rosa-4);
}

.btn-vermelho {
  display: flex;
  width: auto;
  height:  min-content;
  min-height: 42px;
  max-height: 50px;

  align-items: center;
  justify-content: center;

  padding-left: 24px;
  padding-right: 24px; 
  gap: 10px;

  border-radius: 32px;
  background: var(--vermelho);
  color: var(--rosa-4);
}

.btn-juntos {
  display: flex;
  gap: 16px;
}



.btn-rosa:hover {
  background: #b81c59; /* rosa-1 mais escuro */
}

.btn-branco:hover {
  background: #f5f5f5; /* cinza-1 suave */
  border-color: #b81c59; /* rosa-1 mais escuro */
}

.btn-verde:hover {
  background: #006703; /* verde mais escuro */
}

.btn-vermelho:hover {
  background: #8a0007; /* vermelho mais escuro */
}
